@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.header_div{
    color: white;
    background-image: url('../../images/pattern-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.header_div h4{
font-family: Rubik;
font-size:25px;
letter-spacing: 1px;
}
.input_wrapper{
    width:30%;
    position: relative;
    margin-bottom: 100px;
}
input{
    width:92%;
    padding:14px 18px;
    outline:none;
    border: none;
    border-radius:14px;
    font-size: 18px;
    color:hsl(0, 0%, 59%);
}
button{
    border:none;
    outline: none;
    position: absolute;
    top:0;
    right:0;
    width:10%;
    height:100%;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: black;
    cursor: pointer;
    overflow: hidden;
}
button i{
    color: white;
    font-weight: bold;
}
button img{
    margin:0;
    width:45px;
    height:50px
}